.slider{
    height:500px;
    border:1px solid gray;
}

#screenPlace {
    height:500px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    width:91%;
    float:left;
}

.slider img{
    max-width: 100%;
    max-height: 100%;
}

.slider a{
    height:500px;
}
#leftArrow,#rightArrow{
    background-image: url(../images/arrow-left.png);
    background-size: 50px 300px;
    background-position: -12px;
    background-repeat: no-repeat;
    height: 100%;
    width: 50px;
    background-color: rgba(128,128,128,0.5);
}

#leftArrow{
    float:left;
}

#rightArrow{
    transform:scaleX(-1);
    float:right;
}

.thumb {
    width:130px;
    height:130px;
    display:inline-block;
    margin-right:20px;
    /*border:1px solid lightgrey;*/
}

.thumb img{
    max-height:100%;
    max-width: 100%;
}